{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="form-title">Read reviews. Write reviews.
      </h4>
       <div class="centered-box">
          <p class="text-center">Log in or sign up below</p>
        
          <ul class="navbar-nav">
            <li class="nav-item m-auto">
              <a class="btn btn-primary" href="{% provider_login_url 'facebook' method="oauth2" %}">Continue with Facebook</a>
            </li>
            <li class="nav-item m-auto">
              <a class="btn btn-primary" href="{% provider_login_url 'google' %}">Continue with Google</a>
            </li>
            <li class="nav-item m-auto">
              <a class="btn btn-primary" href="{% url 'account_signup' %}">{{ 'Continue with email'}}</a> 
            </li>

          </ul>

        </div>
       </div> 
    </div>
  </div>
{% endblock %}  
