{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
         <div class="centered-box">
             <h4>{% trans "Verify Your E-mail Address" %}</h4>

             <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div> 
     </div>
</div>
{% endblock %}
