*__pycache__
db.sqlite3

/userreviews/static/userreviews/*
!/userreviews/static/userreviews/css/
/userreviews/static/userreviews/css/*
!/userreviews/static/userreviews/css/style.css

/media
*.env
*.json
venv
.venv
/userreviews/migrations
/reviews
*.pem