*__pycache__
db.sqlite3

/userreviews/static/userreviews/*
!/userreviews/static/userreviews/css/
/userreviews/static/userreviews/css/*
!/userreviews/static/userreviews/css/style.css

/media
/static
*.env
*.json
venv
.venv
/userreviews/migrations/*
!/userreviews/migrations/__init__.py
/reviews
*.pem
*.crt
*.key