Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project/rate_and_review
ExecStart=/home/ubuntu/project/rate_and_review/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/project/rate_and_review/resume_app.sock rateandreview.wsgi:application

[Install]
WantedBy=multi-user.target