{% extends 'base.html' %}
{% load reviews %}

{% block title %} Category {% endblock %}

{% block content %}
<h4>{{ category.name }} </h4>

<div class="container">
    <div class="row ">
        <div class="col-2">
            SideBar
        </div>
        <div class="col-10">
        {% if items %}
            {% for item in items %}
            <div>
                <a href=""><h4>{{ item.name }} </h4></a>
                <span> {{ item.description }} . {{ item.location }} </span>

                {% get_review_count for item as review_count %}
                <div><strong><a href="">{{ review_count }} Reviews </a></strong></div>
            </div>
            <hr>
            {% endfor %}
        {% else %}
            <p>No items found for this cateogry.</p>
        {% endif %}
     </div>
    </div>
</div>
{% endblock %}