{% extends 'base.html' %}
{% load reviews %}

{% block title %} Category {% endblock %}

{% block content %}
<h4>{{ category.name }} </h4>

<div class="container">
    <div class="row">
        <div class="col">
        {% if items %}
            {% for item in items %}
            <div class="item-box">
                <a href="{% url 'userreviews:item' item.id %}"><h5>{{ item.name }} </h4></a>
                <p><span> {{ item.description }} . {{ item.location }} </span></p>

                {% get_review_count for item as review_count %}
                <p><strong>
                    <a href="{% url 'userreviews:item' item.id %}" class="review-count">{{ review_count }} Reviews </a>
                </strong>
                </p>
            </div>
            {% endfor %}
        {% else %}
            <p>No items found for this cateogry.</p>
        {% endif %}
     </div>
    </div>
</div>
{% endblock %}