{% extends 'base.html' %}
{% load reviews %}
{% load static %}

{% block title %} Category {% endblock %}

{% block content %}

<div class="container">
    <div class="title-box"><h1>{{ category.name }}</h1></div>
    <div class="row">
        <div class="col">
        {% if items %}
            {% for item in items %}
            <div class="row item-box">
                <div class="col-md-4 text-center logo-box">
                    <img class="img-fluid company-logo" src="media/{{ item.logo }}" alt="{{ item.name }} ">
                </div>
                <div class="col-md-8">
                    <a href="{% url 'userreviews:item' item.id %}"><h5>{{ item.name }} </h4></a>
                    <p><strong>
                        {% get_review_count for item as review_count %}
                        <a href="{% url 'userreviews:item' item.id %}" class="review-count">( {{ review_count }} ) Reviews </a>
                    </strong>
                    </p>   
                    <p><span> <strong>Location:</strong> {{ item.location }} </span></p>
                    {% get_review_count for item as review_count %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No items found for this cateogry.</p>
        {% endif %}
     </div>
    </div>
</div>
{% endblock %}