{% extends 'base.html' %}
{% load reviews %}
{% load reviews i18n %}
{% block title %} {{ item.name }} {% endblock %}

{% block content %}
<div class="container">
    <div class="text-center p-4">
        <h2>{{ item.name }} </h4>
        <span>{{ item.location }} </span>  
    </div>
    <hr>

    <div class="row ">
        <div class="col">
            <div class="centered-box ">
                {% if user.is_authenticated %}
                        {% get_review_form for item as form %}
                        <form action="{% review_form_target %}" method="post">{% csrf_token %}
                                <input type="hidden" name="next" value="{% url 'userreviews:review_was_posted' %}"/>
                                {% for field in form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                    {% if field.errors %}{{ field.errors }}{% endif %}
                                    <p{% if field.errors %} class="error"{% endif %}{% if field.name == "honeypot" %} style="display:none;"{% endif %}>
                                    {{ field.label_tag }} {{ field }}
                                    </p>
                                {% endif %}
                                {% endfor %}
                                <p class="submit">
                                <input type="submit" name="post" class="submit-btn" value="{% trans "Post" %}"/>
                                </p>
                        </form>
                        {{ form.media }}
                        <script>
                        var starRatingControls = new StarRating('#id_rating', {clearable: false, showText: {{ show_rating_text|yesno:"true,false" }}, initialText: '{% trans "Select a rating" %}'});
                        </script>
                {% else %}
                    <p>To write a review you need to: </p>
                     <p><a class="nav-link inline btn-primary" href="{% url 'login' %}">{{ 'Login'}}</a>  or
                        <a class="nav-link inline btn-primary" href="{% url 'users:signup' %}">{{ 'Sign Up'}}</a>
                    </p>
                {% endif %}
            </div>
     </div>
    </div>
</div>
{% endblock %}