{% extends 'base.html' %}
{% load static %}
{% load reviews %}

{% block title %} {{ item.name }} {% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/reviews.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/star-rating.css' %}">

{% block content %}
<h4>{{ item.name }} </h4>
<span> {{ item.description }} . {{ item.location }} </span>

<div>
    <a href="{% url 'userreviews:evaluate' item.id %}">Write a review</a>
</div>

<hr>
{% get_review_count for item as review_count %}
<h4>Reviews {{ review_count }}</h4>
<div>
    {% render_review_list for item %}
</div>
{% endblock %}
