{% extends 'base.html' %}
{% load static %}
{% load reviews %}

{% block title %} {{ item.name }} {% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/reviews.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/star-rating.css' %}">

{% block content %}
<div class="container">
    <div class="text-center p-4">
        <h2>{{ item.name }} </h4>
        <span>{{ item.location }} </span>  
    </div>
    <hr>
    <p class="text-right">
        <a href="{% url 'userreviews:evaluate' item.id %}" class="btn btn-primary">Write a review</a>
    </p>
    <div class="row">
        <div class="col">
            {% get_review_count for item as review_count %}
            <div class="title-box"><h4>Reviews ( {{ review_count }} )</h4></div>
            {% get_review_list for item as review_list %}
            {% for review in review_list %}
                <div class="item-box">
                    <dt id="r{{ review.id }}">
                        {{ review.submit_date }} - {{ review.user }}
                      </dt>
                      <dd>
                        <p>{{ review.comment|linebreaks }}</p>
                      </dd>
                </div>
            {% endfor %}
     </div>
    </div>
</div>
{% endblock %}
