{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/reviews.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/star-rating.css' %}">
{% load reviews %}
<h1>{{ item.name }} </h1>
<span> {{ item.description }} . {{ item.location }} </span>

<div>
    <a href="{% url 'userreviews:evaluate' item.id %}">Write a review</a>
</div>

<hr>
{% get_review_count for item as review_count %}
<h2>Reviews {{ review_count }}</h2>
<div>
    {% render_review_list for item %}
</div>
